---
import Layout from "@/layouts/Layout.astro";
import {getPageBySlug} from "@/utils/endpoints";
import {type WpPage} from "@/types/Page";

const slug = Astro.params["slug"];
let slugPage: WpPage | null = await getPageBySlug(slug!);
---
<Layout title={slugPage?.title.rendered}>
	<div set:html={
		slugPage ? (
			slugPage.content.rendered
			) : (
				`<p>Couldn't fetch page: ${slug}</p>`
				)
	}/>
</Layout>