---
import Layout from "@/layouts/Layout.astro";
import {getPageEndpoint} from "@/utils/endpoints";
import {type WpPage} from "@/types/Page";

const pageReq = await fetch(getPageEndpoint(2));
let samplePage: WpPage | null = null;
if (pageReq.ok) {
	samplePage = await pageReq.json();
}
---

<Layout title={samplePage?.title.rendered}>
	<div set:html={
		samplePage ? (
			samplePage.content.rendered
		) : (
			"<p>An error has occured </p>"
		)
	}/>
</Layout>