---
import {getPageEndpoint} from "@/utils/endpoints";
import {type WpPage} from "@/types/Page";

const pageReq = await fetch(getPageEndpoint(2));
let samplePage: WpPage | null = null;
if (pageReq.ok) {
	samplePage = await pageReq.json();
}
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<div set:html={
			samplePage ? (
				samplePage.content.rendered
			) : (
				"<p>An error has occured </p>"
			)
		}/>
	</body>
</html>
